<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="369" border="1">
    <tr>
      <td width="359"><a href="/verifybuilding">VERIFY_BUILDING</a></td>
    </tr>
    <tr>
      <td><a href="/VIEWVERIFIEDBUILDING">VIEW_VERIFIED_BUILDING</a></td>
    </tr>
    <tr>
      <td><a href="/VIEWUSER">VIEW_USER</a></td>
    </tr>
    <tr>
      <td><a href="/VIEWRATING">VIEW_RATING</a></td>
    </tr>
    <tr>
      <td><a href="/view_complaint">VIEW_COMPLAINTS_AND_SEND_REPLY</a></td>
    </tr>
    <tr>
      <td><a href="/VIEWBOOKING">VIEW_BOOKING_HISTORY</a></td>
    </tr>
      <tr>
      <td><a href="/CHANGEPASSWD">CHANGE_PASSWORD</a></td>
    </tr>
  </table>
</form>
</body>
</html>
