<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="369" border="1">
    <tr>
      <td width="359"><a href="/SERVICEADD">ADD SERVICE</a></td>
    </tr>
    <tr>
      <td><a href="/B_VIEWSERVICE">VIEW SERVICE</a></td>
    </tr>
    <tr>
      <td><a href="/B_VIEWRATING">VIEW_RATING</a></td>
    </tr>
    <tr>
      <td><a href="/SECURITYADD">ADD_SECURITY</a></td>
    </tr>
    <tr>
      <td><a href="/SECURITYVIEW">VIEW_SECURITY</a></td>
    </tr>
      <tr>
      <td><a href="/SLOTADD">ADD_SLOT</a></td>
    </tr>
        <tr>
      <td><a href="/SLOTVIEW">VIEW_SLOT</a></td>
    </tr>
    <tr>
      <td><a href="/VIEWBOOKING">VIEW_BOOKING_HISTORY</a></td>
    </tr>
      <tr>
      <td><a href="/CHANGEPASSWORD">CHANGE_PASSWORD</a></td>
    </tr>
  </table>
</form>
</body>
</html>
