{% extends 'building/building_index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="466" height="268" border="1" class="table table-active">
    <tr>
      <th width="42" scope="col">SL NO</th>
      <th width="139" scope="col">NUMBER OF SLOTS</th>
      <th colspan="2" scope="col"><a href="#"></a><a href="#"></a></th>
    </tr>
      {% for i in data %}
    <tr>
      <td>&nbsp;{{ loop.index }}</td>
      <td>&nbsp;{{ i['num_of_slot']}}</td>
      <th width="4" scope="col"><a href="/SLOTEDIT/{{ i['num_of_slot'] }}/{{ i['slot_id'] }}" class="btn btn-primary">EDIT</a></th>
      <th width="142" scope="col"><a href="/SLOTDEL/{{ i.slot_id }}" class="btn btn-primary">DELETE</a></th>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}